@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 공통 */
html, body {
	margin:0px;
	padding:0px;
	position:relative;
}

.nanumgothic {
	font-family:'Nanum Gothic', sans-serif;
}

.clearFix::after {
	content:'';
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	clear:both;
}

.setTopVirtualBox::before {
	width:1px;
	/*height:0.000000001px;*/
	height:1px;
	content:'';
	clear:both;
	display:block;
	margin:0px auto;
	padding:0px;
	position:relative;
}

.setBottomVirtualBox::after {
	width:1px;
	/*height:0.000000001px;*/
	height:1px;
	content:'';
	clear:both;
	display:block;
	margin:0px auto;
	padding:0px;
	position:relative;
}

#body .show {
	display:block;
}

#body .hide {
	display:none;
}

.blind {
	width:0.000001px;
	height:0.000001px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	opacity:0;
}

.big_title {
	font-size:30px;
	font-weight:bold;
	display:block;
	margin:20px;
	padding:20px 0px;
	border-bottom:3px solid #008ace;
	color:#008ace;
}


#body {
	
}

.float_left {
	float:left;
}
.float_right {
	float:right;
}


.push_loading_bar {
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	z-index:10;
	background-color:rgba(0,0,0,0.7);
}
.push_loading_bar .ment {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:normal;
}
.push_loading_bar .progress_display {
	display:block;
	margin:3px 0px 20px 0px;
	padding:0px;
	position:relative;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:normal;
}
.push_loading_bar .loading_area {
	width:70px;
	display:block;
	margin:0px auto;
	padding:0px;
	position:relative;
} 
.push_loading_bar .loading_area img {
	width:100%;
}



.delete_mode {
	width:120px;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#f8536a;
	color:#fff;
	text-align:center;
	font-size:16px;
	font-weight:normal;
	cursor:pointer;
}
.delete_mode:hover {
	background-color:#e72f49;
}

.delete_check_box {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	background-color:rgba(248,83,106,0.7);
	background-image:url(../images/delete_icon.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:50px auto;
	opacity:0;
	display:none;
	z-index:10;
}
.delete_check_box.rounded {
	border-radius:100px;
}

.delete_mode_comment_box {
	width:100%;
	max-width:900px;
	display:none;
	position:fixed;
	top:100px;
	left:0px;
	text-align:center;
	z-index:100;
}
.delete_mode_comment {
	padding:20px;
	display:inline-block;
	background-color:rgba(255,255,255,0.8);
	box-shadow:0px 3px 20px #777;
	font-size:16px;
	font-weight:bold;
	color:#333;
}


.all_select {
	width:120px;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#333;
	color:#fff;
	text-align:center;
	font-size:16px;
	font-weight:normal;
	cursor:pointer;
	display:none;
}
.all_select:hover {
	background-color:#000;
}
.selected_list_delete_button {
	width:200px;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#888;
	color:#fff;
	text-align:center;
	font-size:16px;
	font-weight:normal;
	cursor:pointer;
	display:none;
}
.selected_list_delete_button:hover {
	background-color:#666;
}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* admin1000 - 로그인 페이지 */



html.admin1000 {
	background-color:#2763ba;
}

.admin1000.login_box {
	width:600px;
	height:350px;
	display:block;
	margin:0px auto;
	padding:0px;
	position:relative;
	background-color:#fff;
	box-shadow:0px 0px 24px rgba(0,0,0,0.4);
}
.admin1000.login_box .logo_box {
	margin-top:30px;
	margin-bottom:30px;
}
.admin1000.login_box .logo_box img {
	display:block;
	margin:0px auto;
	padding:0px;
	position:relative;
}
.admin1000.login_box .logo_box div {

}

.admin1000.login_box .admin_text {
	height:40px;
	line-height:40px;
	text-align:center;
	color:#ffffff;
	font-size:14px;
	font-weight:normal;
	margin-bottom:10px;
	background-color:#282828;
}

.admin1000.login_box form {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.admin1000.login_box form ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.admin1000.login_box form ul li {
	display:block;
	position:relative;
	list-style-type:none;
	margin-bottom:10px;
}
.admin1000.login_box form ul li input {
	width:400px;
	height:40px;
	font-size:14px;
	color:#666666;
	font-weight:normal;
	box-sizing:border-box;
	margin:0px auto;
	padding:0px 15px;
	display:block;
	border:1px solid #008ace;
}

.admin1000.login_box form ul li input::-webkit-input-placeholder {
	color:#cccccc;
}
.admin1000.login_box form ul li input::-moz-placeholder {
	color:#cccccc;
}
.admin1000.login_box form ul li input:-ms-input-placeholder {
	color:#cccccc;
}
.admin1000.login_box form ul li input:-moz-placeholder {
	color:#cccccc;
}

.admin1000.login_box form .login_button {
	width:150px;
	height:50px;
	line-height:50px;
	text-align:center;
	display:block;
	margin:20px auto;
	padding:0px;
	position:relative;
	background-color:#008ace;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
}
.admin1000.login_box form .login_button:hover {
	background-color:#2763ba;
}


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* admin1100 - 관리자 페이지 메인 */


.admin1100.menu_window {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	background-color:#008ace;
}
.admin1100.menu_window .logo_box {
	display:none;
	margin:10px auto 0px auto;
	padding:0px;
	position:relative;
}
.admin1100.menu_window .logo_box img {
	height: 45px;
	display:block;
	margin:0px auto;
	padding:0px;
	position:relative;
}

.admin1100.menu_window .logo_areas {
	float:left;
	display:block;
	margin:14.5px auto 0px 20px;
	padding:0px;
	position:relative;
}
.admin1100.menu_window .logo_areas img {
	height:45px;
	display:block;
	margin:0px auto;
	padding:0px;
	position:relative;
}
.admin1100.menu_window .logo_areas div {
	margin-top:10px;
	color:#fff;
	font-size:14px;
	font-weight:normal;
}


.admin1100.menu_window .menu_list_box_parent {
	float:right;
	display:block;
	margin:0px 20px 0px 0px;
	padding:0px;
	position:relative;
	text-align:center;
}
.admin1100.menu_window ul.menu_list_box {
	display:inline-block;
	margin:0px 0px 0px 0px;
	padding:0px;
	position:relative;
}
.admin1100.menu_window ul.menu_list_box li {
	width:68px;
	list-style-type:none;
	display:inline-block;
	margin:0px 0px 0px 0px;
}
.admin1100.menu_window ul.menu_list_box li a {
	height:100px;
	color:#fff;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	display:block;
	margin:0px;
	padding:10px 0px;
	position:relative;
	/*background-image:url(../images/right_arrow_icon.png);*/
	background-repeat:no-repeat;
	background-position:right 20px center;
	box-sizing:border-box;
	transition:0.3s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.admin1100.menu_window ul.menu_list_box li a .icon {
	height:45px;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	background-repeat:no-repeat;
	background-position:center center;
	background-size: auto 27px;
}
.admin1100.menu_window ul.menu_list_box li a .text {
	height:36px;
}
.admin1100.menu_window ul.menu_list_box li a:hover {
	background-color:#007cb9;
}
.admin1100.menu_window ul.menu_list_box li a.active {
	background-color:#007cb9;
}






.admin1100.content_window {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	background-color:#ffffff;
}
.admin1100.content_window > iframe {
	width:100%;
	height:100%;
	border:0px;
	margin:0px;
	padding:0px;
	position:relative;
	display:block;
}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* admin2000 - 대시보드 */


.admin2000.admin_profile_info {
	display:block;
	margin:20px;
	padding:0px 0px 30px 0px;
	position:relative;
	border-bottom:2px solid #d6d6d6;
}

.admin2000.admin_profile_info .name_connect_log {
	position:relative;
	margin:0px;
	padding:0px;
	display:block;
}

.admin2000.admin_profile_info .name_connect_log .name_box {

}

.admin2000.admin_profile_info .name_connect_log .name_box .only_name {
	float:left;
	font-size:40px;
	font-weight:bold;
	color:#333333;
}
.admin2000.admin_profile_info .name_connect_log .name_box .welcome {
	float:left;
	font-size:16px;
	font-weight:normal;
	color:#888888;
	margin-top:28px;
	margin-left:6px;
}


.admin2000.admin_profile_info .name_connect_log .connect_log_box {
	margin-top:20px;
}
.admin2000.admin_profile_info .name_connect_log .connect_log_box .title {
	color:#666666;
	font-size:14px;
	font-weight:normal;
	float:left;
	margin-left:3px;
}
.admin2000.admin_profile_info .name_connect_log .connect_log_box .content {
	color:#008ace;
	font-size:14px;
	font-weight:normal;
	float:left;
}



.admin_profile_info .logout_button {
	width:150px;
	height:40px;
	display:block;
	margin:0px;
	padding:0px;
	position:absolute;
	bottom:30px;
	right:0px;
	border:1px solid #d6d6d6;
	color:#aaaaaa;
	font-size:16px;
	text-align:center;
	line-height:40px;
	transition:0.4s;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	cursor:pointer;
}
.admin_profile_info .logout_button:hover {
	background-color:#f6f6f6;
}



.dashboard_list_area {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}
.dashboard_list_area .basic_column {
	width:32%;
	height:250px;
	display:block;
	margin:0px;
	margin-right:2%;
	margin-bottom:20px;
	padding:20px;
	float:left;
	position:relative;
	border:1px solid #333;
	box-shadow:0px 0px 1px #333;
	box-sizing:border-box;
	border-radius:10px;
	transition: 0.2s;
	transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1);;
}
.dashboard_list_area .basic_column:hover {
	box-shadow:0px 0px 20px #008ace;
}
.dashboard_list_area .basic_column.last_row {
	margin-right:0px;
}
.dashboard_list_area .title {
	font-size:18px;
	font-weight:bolder;
	color:#008ace;
	margin-bottom:20px;
	text-align:center;
}


.dashboard_list_area .numberType1 {
	font-size:60px;
	font-weight:bolder;
	color:#008ace;
	margin-top:50px;
	text-align:center;
}


































/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* admin3000 - 순번대기표 관리 페이지 */


.admin3000.all_view {
	height:50px;
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
	box-sizing:border-box;
	overflow:hidden;
}
.admin3000.all_view > .title {
	height:50px;
	line-height:50px;
	text-align:left;
	margin:0px;
	padding:0px 20px;
	position:relative;
	background-color:#008ace;
	color:#fff;
	font-size:18px;
	font-weight:normal;
}

.admin3000.all_view .hospital_type_list {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	border-right:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
}
.admin3000.all_view .hospital_type_list > div {
	float:left;
	width:33.33333%;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.admin3000.all_view .hospital_type_list > div > .title {
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	color:#555555;
	font-size:15px;
	font-weight:normal;
}
.admin3000.all_view .hospital_type_list > div > ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.admin3000.all_view .hospital_type_list > div > ul > li {
	display:block;
	list-style-type:none;
	margin:0px 20px;
	margin-bottom:10px;
	padding:20px 0px;
	position:relative;
	box-sizing:border-box;
	border:1px solid #008ace;
}
.admin3000.all_view .hospital_type_list > div > ul > li > div {
	text-align:center;
}

.admin3000.all_view .hospital_type_list > div > ul > li > div.where {
	color:#333;
	font-weight:bold;
	font-size:16px;
	margin-bottom:15px;
}
.admin3000.all_view .hospital_type_list > div > ul > li > div.current_number_title {
	color:#666;
	font-weight:normal;
	font-size:14px;
}
.admin3000.all_view .hospital_type_list > div > ul > li > div.current_number {
	color:#666;
	font-weight:bold;
	font-size:28px;
}



.admin3000.ticketadmin {
	margin:20px;
	/*background-color:#eee;*/
}
.admin3000.ticketadmin ul.tab_box {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.admin3000.ticketadmin ul.tab_box li {
	float:left;
	list-style-type:none;
	width:33.3333%;
	height:50px;
	line-height:50px;
	text-align:center;
	cursor:pointer;
	background-color:#eee;
	color:#333;
	font-size:16px;
	font-weight:normal;
}
.admin3000.ticketadmin ul.tab_box li.active {
	background-color:#2763ba;
	color:#fff;
}



.admin3000.ticketadmin > ul.tab_content {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	border-bottom:1px solid #eee;
}
.admin3000.ticketadmin > ul.tab_content > li {
	height:400px;
	/*background-color:#eee;*/
	display:none;
	margin:0px;
	padding:0px;
	position:relative;
	list-style-type:none;
}

.admin3000.ticketadmin ul.counter_list {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}
.admin3000.ticketadmin ul.counter_list > li {
	float:left;
	list-style-type:none;
	width:30%;
	height:300px;
	margin-right:5%;
	padding:0px;
	position:relative;
}
.admin3000.ticketadmin ul.counter_list > li:last-child {
	margin-right:0px;
}

.admin3000.ticketadmin ul.counter_list > li .counter_title {
	color:#333;
	font-size:30px;
	font-weight:normal;
	text-align:center;
	margin-bottom:20px;
}

.admin3000.ticketadmin ul.counter_list > li .current_number_box {
	box-sizing:border-box;
	border:1px solid #008ace;
	margin:0px 20px;
	padding:20px;
} 
.admin3000.ticketadmin ul.counter_list > li .current_number_box div:nth-child(1) {
	color:#333;
	font-size:18px;
	margin-bottom:10px;
	text-align:center;
}
.admin3000.ticketadmin ul.counter_list > li .current_number_box div:nth-child(2) {
	font-size:48px;
	font-weight:bold;
	color:333;
	text-align:center;
}





.admin3000.ticketadmin .current_number_check {
	display:block;
	margin:0px;
	margin-top:20px;
	margin-bottom:20px;
	padding:0px;
	position:relative;
}
.admin3000.ticketadmin .current_number_check > div {
	text-align:center;
}
.admin3000.ticketadmin .current_number_check > div > div {
	display:inline-block;
}

.admin3000.ticketadmin .current_number_check .radio_button {
	width:20px;
	height:20px;
	float:left;
}
.admin3000.ticketadmin .current_number_check .radio_text {
	width:80px;
	text-align:left;
	float:left;
	font-size:18px;
	margin-top:0px;
	margin-left:5px;
}


.admin3000.ticketadmin .next_number_button {
	width:200px;
	height:50px;
	line-height:50px;
	display:block;
	margin:0px auto;
	padding:0px;
	position:relative;
	background-color:#008ace;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	cursor:pointer;
}
.admin3000.ticketadmin .next_number_button:hover {
	background-color:#007cb9;
}



/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* admin4000 - 푸시알림 관리 페이지 */


.formStlyeE .input_box_style {
	border:1px solid #008ace;
	background-color:#fff;	
	font-size:16px;
	font-weight:normal;
	color:#444;
	padding:0px 10px;
	box-sizing:border-box;
}

.formStlyeE {
	margin:20px;
	padding:0px;
	position:relative;
	border-bottom:3px solid #cccccc;
}
.formStlyeE > form {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.formStlyeE > form > ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.formStlyeE > form > ul > li {
	display:block;
	margin:0px;
	padding:10px 0px;
	position:relative;
	list-style-type:none;
	border-bottom:1px solid #eee;
}
.formStlyeE > form > ul > li > div {
	float:left;
	font-size:16px;
	font-weight:normal;
	color:#444444;
}


.formStlyeE > form > ul > li > div.title {
	width:100px;
	margin-top:9px;
}
.formStlyeE > form > ul > li > div.content {
	margin-left:30px;
}
.formStlyeE > form > ul > li .member_index_display {
	color:#f8536a;
	font-size:14px;
	font-weight:normal;
	margin-top:10px;
	margin-left:10px;
}


.formStlyeE > form > .push_send_button {
	width:200px;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:18px;
	font-weight:normal;
	background-color:#008ace;
	cursor:pointer;
	display:block;
	margin:20px auto;
	padding:0px;
	position:relative;
}
.formStlyeE > form > .push_send_button:hover {
	background-color:#007cb9;
}



/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 회원관리 */



.searchFilterTypeA {
	margin:20px;
	padding:0px;
	position:relative;
	border-top:3px solid #ccc;
	border-bottom:3px solid #ccc;
}
.searchFilterTypeA ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.searchFilterTypeA ul li {
	height:40px;
	list-style-type:none;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	border-bottom:1px solid #eee;
}
.searchFilterTypeA ul li > div {
	float:left;
}
.searchFilterTypeA ul li > div.title {
	width:120px;
	font-size:15px;
	font-weight:bold;
	color:#333;
	margin-top:10px;
}


.searchFilterTypeA ul li .searchMemberGenderInput {
	width:15px;
	height:15px;
	float:left;
	margin-top:11px;
	border:1px solid #aaa;
}
.searchFilterTypeA ul li .searchMemberGenderInputLabel {
	float:left;
	margin-top:9px;
	margin-right:20px;
	font-size:14px;
}
.searchFilterTypeA ul li .searchMemberBirthdayUse {
	height:25px;
	float:left;
	margin-top:8px;
	margin-right:4px;
	padding:0px 4px;
	box-sizing:border-box;
	font-size:14px;
	font-family:'Nanum Gothic', sans-serif;
	border:1px solid #aaa;

}
.searchFilterTypeA ul li .searchMemberBirthdayUseLabel {
	float:left;
	font-size:14px;
	margin-top:10px;
	margin-right:20px;
}
.searchFilterTypeA ul li .searchMemberBirthdayInput {
	height:25px;
	float:left;
	margin-top:8px;
	margin-right:20px;
	padding:0px 4px;
	box-sizing:border-box;
	font-size:14px;
	font-family:'Nanum Gothic', sans-serif;
	border:1px solid #aaa;

}
.searchFilterTypeA ul li .searchMemberBirthdayInput.lock {
	background-color:#ccc
}
.searchFilterTypeA ul li .searchMemberBloodtypeSelect {
	height:25px;
	float:left;
	margin-top:8px;
	margin-right:20px;
	font-size:14px;
	font-family:'Nanum Gothic', sans-serif;
	border:1px solid #aaa;
}

.searchFilterTypeA ul li .textSearchInputBox {
	float:none;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.searchFilterTypeA ul li .searchMemberNameInput {
	height:25px;
	float:left;
	margin-top:8px;
	margin-right:20px;
	padding:0px 4px;
	font-size:14px;
	font-family:'Nanum Gothic', sans-serif;
	border:1px solid #aaa;
	box-sizing:border-box;
}

.searchFilterTypeA .finalSearchButton {
	width:100px;
	height:40px;
	line-height:40px;
	text-align:center;
	display:block;
	margin:10px auto;
	padding:0px;
	position:relative;
	cursor:pointer;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	background-color:#888;
}
.searchFilterTypeA .finalSearchButton:hover {
	background-color:#444;	
}

.searchFilterTypeA .inputstyle {
	border:1px solid #aaa;
	box-sizing:border-box;
}






.member_total_num {
	margin:20px 20px 0px 20px;
	padding:0px;
	position:relative;
	font-size:14px;
	font-weight:normal;
	color:#008ace;
}







.boardTypeB {
	margin:20px;
	padding:0px;
	position:relative;
}
.boardTypeB .boardTitle {
	height:50px;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#f6f6f6;
}
.boardTypeB .boardTitle ul {
	margin:0px;
	padding:0px;
	position:relative;
}
.boardTypeB .boardTitle ul li {
	height:50px;
	line-height:50px;
	text-align:center;
	list-style-type:none;
	float:left;
	margin:0px;
	padding:0px;
	position:relative;
	color:#777;
	font-size:14px;
	font-weight:normal;
}

.boardTypeB .boardTitle ul li.col1 {
	width:9%;
}
.boardTypeB .boardTitle ul li.col2 {
	width:20%;
}
.boardTypeB .boardTitle ul li.col3 {
	width:13%;
}
.boardTypeB .boardTitle ul li.col4 {
	width:16%;
}
.boardTypeB .boardTitle ul li.col5 {
	width:12%;
}
.boardTypeB .boardTitle ul li.col6 {
	width:16%;
}
.boardTypeB .boardTitle ul li.col7 {
	width:14%;
}




.boardTypeB .memberListBox {
	height:400px;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	border-bottom:1px solid #ccc;
	overflow-y:scroll;
}
.boardTypeB .memberListBox ul {
	display:block;
	margin:0px;
	padding:0px;
}
.boardTypeB .memberListBox ul li {
	display:block;
	margin:0px;
	padding:3.5px 0px;
	position:relative;
	list-style-type:none;
}
.boardTypeB .memberListBox ul li:nth-child(odd) {
	background-color:#abe3ff;
}
.boardTypeB .memberListBox ul li:nth-child(even) {
	background-color:#ddf4ff;
}

.boardTypeB .memberListBox ul li > div {
	float:left;
	font-size:13px;
}
.boardTypeB .memberListBox ul li > div.col1 {
	width:9%;
}
.boardTypeB .memberListBox ul li > div.col2 {
	width:20%;
}
.boardTypeB .memberListBox ul li > div.col3 {
	width:13%;
}
.boardTypeB .memberListBox ul li > div.col4 {
	width:16%;
}
.boardTypeB .memberListBox ul li > div.col5 {
	width:12%;
}
.boardTypeB .memberListBox ul li > div.col6 {
	width:16%;
}
.boardTypeB .memberListBox ul li > div.col7 {
	width:14%;
}

.boardTypeB .memberListBox ul li > div .memberNameInput {
	height:22px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	border:1px solid #3793d8;
	font-size:13px;
	color:#333;
	box-sizing:border-box;
	padding:0px 4px;
	font-family:'Nanum Gothic', sans-serif;
}
.boardTypeB .memberListBox ul li > div .memberGenderSelect {
	height:22px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	border:1px solid #3793d8;
	font-size:13px;
	color:#333;
	box-sizing:border-box;
	padding:0px 4px;
	font-family:'Nanum Gothic', sans-serif;
}
.boardTypeB .memberListBox ul li > div .memberBirthdayInput {
	width:135px;
	height:22px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	border:1px solid #3793d8;
	font-size:13px;
	color:#333;
	box-sizing:border-box;
	padding:0px 4px;
	font-family:'Nanum Gothic', sans-serif;
}
.boardTypeB .memberListBox ul li > div .memberBloodtypeSelect {
	height:22px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	border:1px solid #3793d8;
	font-size:13px;
	color:#333;
	box-sizing:border-box;
	padding:0px 4px;
	font-family:'Nanum Gothic', sans-serif;
}
.boardTypeB .memberListBox ul li > div .memberStatusSelect {
	height:22px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	border:1px solid #3793d8;
	font-size:13px;
	color:#333;
	box-sizing:border-box;
	padding:0px 4px;
	font-family:'Nanum Gothic', sans-serif;
}
.boardTypeB .memberListBox ul li > div .member_edit_button {
	width:50px;
	height:22px;
	display:block;
	padding:0px;
	line-height:22px;
	text-align:center;
	color:#fff;
	font-weight:normal;
	font-size:13px;
	background-color:#008ace;
	cursor:pointer;
	float:left;
}
.boardTypeB .memberListBox ul li > div .member_edit_button:hover {
	background-color:#2e7db9;
}
.boardTypeB .memberListBox ul li > div .member_detail_button {
	width:50px;
	height:22px;
	display:block;
	padding:0px;
	line-height:22px;
	text-align:center;
	color:#fff;
	font-weight:normal;
	font-size:13px;
	background-color:#555;
	cursor:pointer;
	float:left;
}
.boardTypeB .memberListBox ul li > div .member_detail_button:hover {
	background-color:#222;
}



.boardTypeB .memberListBox ul li > div.member_pk {
	text-align:center;
	box-sizing:border-box;
}



.pagingControllerBox {
	margin:20px;
	padding:0px;
	padding:0px;
	position:relative;
	text-align:center;
}
.pagingControllerBox > div {
	display:inline-block;
	margin:0px;
	padding:0px;
	position:relative;
}
.pagingControllerBox > div > div,
.pagingControllerBox > div > ul {
	float:left;
}

.pagingControllerBox > div > div.best_prev {
	width:30px;
	height:30px;
	border:1px solid #ccc;
	letter-spacing:-4px;
	text-align:left;
	box-sizing:border-box;
	padding-top:1px;
	padding-left:4px;
	font-size:16px;
	margin-right:3px;
}
.pagingControllerBox > div > div.prev {
	width:30px;
	height:30px;
	border:1px solid #ccc;
	text-align:left;
	box-sizing:border-box;
	padding-top:1px;
	padding-left:7px;
	margin-right:20px;
	font-size:16px;
}


.pagingControllerBox > div > div.best_next {
	width:30px;
	height:30px;
	border:1px solid #ccc;
	letter-spacing:-4px;
	text-align:left;
	box-sizing:border-box;
	padding-top:1px;
	padding-left:6px;
	font-size:16px;
	margin-left:3px;
}
.pagingControllerBox > div > div.next {
	width:30px;
	height:30px;
	border:1px solid #ccc;
	text-align:left;
	box-sizing:border-box;
	padding-top:1px;
	padding-left:10px;
	margin-left:20px;
	font-size:16px;
}
.pagingControllerBox > div > div:hover {
	background-color:#eee;
	cursor:pointer;
}


.pagingControllerBox > div > ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.pagingControllerBox > div > ul > li {
	float:left;
	list-style-type:none;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #ccc;
	box-sizing:border-box;
	font-size:16px;
	margin-right:3px;
	cursor:pointer;
}
.pagingControllerBox > div > ul > li:hover {
	background-color:#eee;	
}
.pagingControllerBox > div > ul > li:last-child {
	margin-right:0px;
}

.pagingControllerBox > div > ul > li.active {
	background-color:#008ace;
	color:#fff;
}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 회원 상세/수정 */


.listStyleDD {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}
.listStyleDD > ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.listStyleDD > ul > li {
	list-style-type:none;
	min-height:41px;
	display:block;
	margin:0px;
	padding:6px 0px;
	position:relative;
	border-bottom:1px solid #eee;
	box-sizing:border-box;
}
.listStyleDD > ul > li .column_title {
	width:20%;
	float:left;
	display:block;
	margin:0px;
	padding:6px 0px 0px 0px;
	position:relative;
	font-size:14px;
	font-weight:bold;
	color:#666;
	box-sizing:border-box;

}
.listStyleDD > ul > li .column_content {
	width:80%;
	float:left;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.listStyleDD > ul > li .column_content > div {
	font-size:14px;
	font-weight:normal;
	color:#888;
}
.listStyleDD > ul > li .column_content .not_edit {
	margin-top:5px;	
}
.listStyleDD > ul > li .column_content input,
.listStyleDD > ul > li .column_content select,
.listStyleDD > ul > li .column_content textarea {
	border:1px solid #ddd;
	font-size:14px;
	font-weight:normal;
	color:#333;
	padding:5px;
	box-sizing:border-box;

	font-family:'Nanum Gothic', sans-serif;
}
.listStyleDD > ul > li .column_content input,
.listStyleDD > ul > li .column_content select {
	min-height:30px;
}

.listStyleDD .button_areas {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	text-align:center;
}
.listStyleDD .button_areas .button_box {
	display:inline-block;
	margin:0px;
	padding:0px;
	position:relative;
}
.listStyleDD .button_areas .button_box .edit_button {
	width:120px;
	height:50px;
	line-height:50px;
	text-align:center;
	display:block;
	margin:20px auto;
	padding:0px;
	position:relative;
	background-color:#008ace;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	cursor:pointer;
	float:left;
}
.listStyleDD .button_areas .button_box .list_button {
	width:120px;
	height:50px;
	line-height:50px;
	text-align:center;
	display:block;
	margin:20px auto;
	padding:0px;
	position:relative;
	background-color:#555555;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	cursor:pointer;
	float:left;
}









/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 진료예약관리 */


.searchBoxTypeA {
	margin:20px;
	padding:0px;
	position:relative;
	box-sizing:border-box;
}
.searchBoxTypeA > .inputArea {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	border:1px solid #bbb;
	box-sizing:border-box;
}
.searchBoxTypeA > .inputArea > input {
	width:100%;
	height:50px;
	display:block;
	margin:0px;
	padding:0px 50px 0px 20px;
	position:relative;
	border:0px;
	font-size:16px;
	font-weight:normal;
	color:#222;
	box-sizing:border-box;
}
.searchBoxTypeA > .inputArea > input::placeholder {
	color:#ddd;
}



.searchBoxTypeA .searchButton {
	cursor:pointer;
	width:50px;
	height:50px;
	display:block;
	position:absolute;
	top:0px;
	right:0px;
	background-image:url(../images/search_button_icon.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:28px auto;
}


.searchBoxTypeA .searchTypeEgg {
	float:left;width:18%;
	margin-right:2%;
	height:52px;
	border:1px solid #bbb;
	box-sizing:border-box;
	position:relative;

}
.searchBoxTypeA .searchType {
	box-sizing:border-box;
	width:100%;
	height:49px;
	padding-left:5px;
	font-size:16px;
	border:0px;
}



.doctor_list_area {
	margin:20px;
	padding:0px;
	display:block;
	position:relative;
}
.doctor_list_area ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.doctor_list_area ul li {
	list-style-type:none;
	width:18.4%;
	height:50px;
	display:block;
	margin:0px;
	margin-right:2%;
	margin-bottom:12px;
	padding:0px;
	position:relative;
	float:left;
	border:1px solid #008ace;
	box-sizing:border-box;
	cursor:pointer;
	color:#008ace;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	transition:0.2s;
	transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1);
}
.doctor_list_area ul li:nth-child(5n)  {
	margin-right:0px;
}
.doctor_list_area ul li:hover {
	box-shadow:0px 0px 4px #008ace;
}

.doctor_list_area ul li .department {
	color:#aaa;
	font-size:12px;
	margin-top:4px;
}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 진료예약관리 - 상세 */


.doctor_name_box {
	display:block;
	margin:20px;
	padding:0px 0px 20px 0px;
	position:relative;
	border-bottom:1px solid #ccc;
}

.doctor_name_box .doctor_name {
	font-size:30px;
	font-weight:normal;
	color:#333;
	float:left;
	display:block;
}	
.doctor_name_box .doctor_department {
	font-size:16px;
	font-weight:normal;
	color:#bbb;
	float:left;
	margin-left:10px;
	margin-top:18px;
	display:block;
}	

.doctor_name_box .not_enter_update {
	float:right;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	background-color:#555;
	display:block;
	margin:0px;
	padding:0px 20px;
	position:relative;
	cursor:pointer;
}
.doctor_name_box .not_enter_update:hover {
	background-color:#333;
}




.group1 {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}
.group1 .calendar_box_egg {
	width:50%;
	height:495px;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	float:left;
	background-color:#fff;
}

.calendar_box_egg .calendar_box {
	margin:0px;
	padding:0px;
	position:relative;
	display:block;
}

.calendar_box_egg .month_and_arrow_button_area {
	height:80px;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	text-align:center;
}

.month_and_arrow_button_area_inner {
	display:inline-block;
	margin-top:10px;
}

.calendar_box_egg .month_and_arrow_button_area .prev_month_button {
	width:60px;
	height:60px;
	display:block;
	float:left;
	background-image:url(../images/prev_button_icon.png);
	background-repeat:no-repeat;
	background-size:22px 22px;
	background-position:center center;
	cursor:pointer;
}
.calendar_box_egg .month_and_arrow_button_area .year_month_display {
	float:left;
	margin-top:12px;
} 
.calendar_box_egg .month_and_arrow_button_area .next_month_button {
	width:60px;
	height:60px;
	display:block;
	float:left;
	background-image:url(../images/next_button_icon.png);
	background-repeat:no-repeat;
	background-size:22px 22px;
	background-position:center center;
	cursor:pointer;
}

.calendar_box_egg .month_and_arrow_button_area .year_month_display .year {
	color:#585858;
	font-size:28px;
	margin-right:10px;
	font-weight:normal;
}
.calendar_box_egg .month_and_arrow_button_area .year_month_display .month {
	color:#585858;
	font-size:28px;
	font-weight:normal;
}


.day_display_area {
	box-sizing:border-box;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}
.day_display_area ul {
	margin:0px;
	padding:0px;
	position:relative;
}
.day_display_area ul li {
	float:left;
	list-style-type:none;
	width:14.28571428571429%;
	height:60px;
	text-align:center;
	color:#919191;
	font-size:18px;
	font-weight:normal;
	line-height:60px;
}



.date_display_area {

}
.date_display_area ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.date_display_area ul li {
	float:left;
	list-style-type:none;
	width:14.28571428571429%;
	height:56px;
	box-sizing:border-box;
}
.date_display_area ul li.active {
	background-color:#008ace;
}
.date_display_area ul li.active .date {
	color:#ffffff;
}
.date_display_area ul li.active .today {
	color:#ffffff;	
}
.date_display_area ul li span.date {
	color:#919191;
	display:block;
	margin-top:9px;
	margin-left:9px;
}
.date_display_area ul li span.date.prevnext {
	color:#d9d9d9;
}
.date_display_area ul li .today {
	font-size:12px;
	color:#999999;
	margin-left:9px;
	margin-top:3px;
}










.group1 .clinic_time_list_box {
	width:50%;
	height:495px;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	float:left;
	/*background-color:#fcc;*/
}
.group1 .clinic_time_list_box .title {
	font-size:24px;
	font-weight:normal;
	color:#444;
	margin-top:24px;
	margin-left:10px;
	position:relative;
}

.group1 .clinic_time_list_box .time_add_area {
	position:relative;
	margin-top:10px;
	display:block;
}
.group1 .clinic_time_list_box .time_add_area .timeInput {
	float:left;
	margin-left:10px;
}
.group1 .clinic_time_list_box .time_add_area .timeInput input {
	width:150px;
	height:30px;
	margin:0px;
	padding:0px;
	position:relative;
	display:block;
	border:1px solid #ccc;
	box-sizing:border-box;
}
.group1 .clinic_time_list_box .time_add_area .add_button {
	background-color:#008ace;
	color:#fff;
	margin-left:10px;
	font-size:14px;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	position:relative;
	float:left;
	cursor:pointer;
}
.group1 .clinic_time_list_box .time_add_area .add_button:hover {
	background-color:#006ea4;
}

.group1 .clinic_time_list_box .list_area {
	height:370px;
	display:block;
	margin:10px;
	padding:0px;
	position:relative;
	background-color:#fff;
	overflow-y:scroll;
	box-sizing:border-box;
	border:1px solid #ccc;
}
.group1 .clinic_time_list_box .list_area ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.group1 .clinic_time_list_box .list_area ul li {
	height:70px;
	list-style-type:none;
	display:block;
	margin:0px;
	padding:0px 10px;
	position:relative;
	background-color:#fff;
	border-bottom:1px solid #eee;
	box-sizing:border-box;
	transition:0.3s;
	transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1);
}
.group1 .clinic_time_list_box .list_area ul li.reservation {
	cursor:pointer;
	background-color:#ddf4ff;
}
.group1 .clinic_time_list_box .list_area ul li.reservation:hover {
	background-color:#c6edff;
	box-shadow:0px 0px 3px rgba(0,138,206,0.7);
}

.group1 .clinic_time_list_box .list_area ul li > div {
	font-size:14px;
}
.group1 .clinic_time_list_box .list_area ul li > div.time {
	margin-top:6px;
}
.group1 .clinic_time_list_box .list_area ul li > div.member_name {
	
}
.group1 .clinic_time_list_box .list_area ul li > div.member_phone {
	
}
.group1 .clinic_time_list_box .list_area ul li > div.cancel_button {
	cursor:pointer;
	color:#f8536a;
	position:absolute;
	right:10px;
	top:28px;
}









.medical_certificate_box {
	display:none;
	margin:20px;
	padding:0px;
	position:relative;
	/*border-top:3px solid #ccc;*/
}
.medical_certificate_box > .title {
	color:#333;
	font-size:20px;
	font-weight:bold;
	display:block;
	margin:0px;
	padding:10px 0px;
}

.medical_certificate_box ul.medical_certificate_form_box {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.medical_certificate_box ul.medical_certificate_form_box li {
	height:40px;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	list-style-type:none;
	border-bottom:1px solid #ddd;
	/*background-color:#eee;*/
}

.medical_certificate_box ul.medical_certificate_form_box li .title {
	width:150px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
.medical_certificate_box ul.medical_certificate_form_box li .content {
	float:left;
}


.medical_certificate_box ul.medical_certificate_form_box li .inputstyle {
	font-size:14px;
	font-weight:normal;
	color:#444;
	box-sizing:border-box;
	margin-top:7px;
	padding:0px 5px;
	border:1px solid #999;
	float:left;
}
.medical_certificate_box ul.medical_certificate_form_box li .drugstyle {
	margin-top:7px;
	height:26px;
}
.medical_certificate_box ul.medical_certificate_form_box li .drug_add_button {
	width:60px;
	height:26px;
	line-height:26px;
	text-align:center;
	background-color:#008ace;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	float:left;
	margin-top:7px;
	margin-left:10px;
	cursor:pointer;
}

.medical_certificate_box ul.medical_certificate_form_box li input[name=resultName] {
	width:200px;
	height:26px;


}


.medical_certificate_box .symptom {
	font-size:14px;
	font-weight:normal;
	color:#999;
	margin-top:10px;
}




.medical_certificate_box ul.medical_certificate_form_box li ul.drug_list_ul {
	display:block;
	margin:6px 0px 10px 0px;
	padding:0px;
	position:relative;
}
.medical_certificate_box ul.medical_certificate_form_box li ul.drug_list_ul li {
	height:60px;
	display:block;
	list-style-type:none;
	padding-top:8px;
	border:0px;
	border-bottom:1px solid #008ace;
}

.medical_certificate_box ul.medical_certificate_form_box li ul.drug_list_ul li div.drug_pk {
	width:50px;
	float:left;
	font-size:14px;
	font-weight:normal;
	color:#bbb;
	margin-top:4px;
}
.medical_certificate_box ul.medical_certificate_form_box li ul.drug_list_ul li div.drug_name {
	width:220px;
	float:left;	
	font-size:14px;
	font-weight:bold;
	color:#008ace;
	margin-left:20px;
	margin-top:4px;
}
.medical_certificate_box ul.medical_certificate_form_box li ul.drug_list_ul li div.drug_note {
	width:150px;
	height:22px;
	float:left;	
	font-size:14px;
	font-weight:normal;
	color:#008ace;
	margin-left:5px;
	margin-top:2px;
}
.medical_certificate_box ul.medical_certificate_form_box li ul.drug_list_ul li div.drug_remove {
	float:left;	
	font-size:14px;
	font-weight:normal;
	color:#f8536a;
	margin-left:50px;
	margin-top:4px;
	cursor:pointer;
}

.medical_certificate_box ul.medical_certificate_form_box li ul.drug_list_ul li .oneday_dose {
	float:left;
	width:85px;
	margin-left:70px;
	margin-top:3px;
	margin-right:3px;
}
.medical_certificate_box ul.medical_certificate_form_box li ul.drug_list_ul li .oneday_number {
	width:100px;
	float:left;	
	margin-top:3px;
	margin-right:3px;
}
.medical_certificate_box ul.medical_certificate_form_box li ul.drug_list_ul li .dose_day_num {
	width:85px;
	float:left;
	margin-top:3px;
	margin-right:3px;
}


.medical_certificate_box ul.medical_certificate_form_box li textarea[name=doctor_opinion] {
	width:500px;
	max-width:500px;
	min-width:500px;
	height:100px;
	max-height:100px;
	min-height:100px;
	display:block;
	margin-top:5px;
	margin-bottom:5px;
}


.medical_certificate_box .upload_button {
	width:200px;
	height:50px;
	line-height:50px;
	text-align:center;
	display:block;
	margin:10px auto;
	padding:0px;
	position:relative;
	background-color:#008ace;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	cursor:pointer;
}
.medical_certificate_box .upload_button:hover {
	background-color:#0075ae;
}





/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* N의학정보 관리 */




.listTypeD.admin6500 ul li .title {
	margin-top:45px;
	margin-left:50px;
	margin-right:50px;
	position:relative;
}
.listTypeD.admin6500 ul li .pk {
	font-size:14px;
	font-weight:normal;
	color:#008ace;
	position:relative;
	float:left;
	margin:5px 10px 0px 0px;
}
.listTypeD.admin6500 ul li .real_title {
	font-size:20px;
	font-weight:bold;
	color:#333;
	position:relative;
	float:left;
}
.listTypeD.admin6500 ul li .one_description {
	font-size:14px;
	font-weight:normal;
	color:#999;
	margin-top:10px;
	margin-left:50px;
	margin-right:50px;
	position:relative;
}







/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 병원뉴스 관리 */





.searchFilterTypeA.admin7000 input[name=startDate] {
	width:140px;
	height:25px;
	display:block;
	float:left;
	margin-top:7px;
	padding:0px 4px;

	border:1px solid #ccc;
	box-sizing:border-box;
}
.searchFilterTypeA.admin7000 .decoration1 {
	float:left;
	margin-top:7px;
	margin-left:10px;
	margin-right:10px;
}
.searchFilterTypeA.admin7000 input[name=endDate] {
	width:140px;
	height:25px;
	display:block;
	float:left;
	margin-top:7px;
	padding:0px 4px;

	border:1px solid #ccc;
	box-sizing:border-box;
}

.searchFilterTypeA.admin7000 select[name=writer] {
	width:160px;
	height:25px;
	display:block;
	float:left;
	margin-top:7px;
	padding:0px 4px;

	border:1px solid #ccc;
	box-sizing:border-box;
}
.searchFilterTypeA.admin7000 input[name=title] {
	width:400px;
	height:25px;
	display:block;
	float:left;
	margin-top:7px;
	padding:0px 4px;

	border:1px solid #ccc;
	box-sizing:border-box;
}
.searchFilterTypeA.admin7000 input[name=content] {
	width:400px;
	height:25px;
	display:block;
	float:left;
	margin-top:7px;
	padding:0px 4px;

	border:1px solid #ccc;
	box-sizing:border-box;
}









.group3 {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}
.group3 a {
	width:120px;
	height:40px;
	line-height:40px;
	text-align:center;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	background-color:#008ace;
	color:#fff;
	font-weight:normal;
	font-size:16px;
	cursor:pointer;
	text-decoration:none;
}
.group3 a:hover {
	background-color:#0075ae;
}









.boardTypeC {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}
.boardTypeC > ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.boardTypeC > ul > li {
	height:188px;
	display:block;
	margin:0px 0px 10px 0px;
	padding:20px;
	position:relative;
	list-style-type:none;
	box-sizing:border-box;
	border:1px solid #ddd;
	box-shadow:0px 0px 3px rgba(200, 200, 200, 0.5);
	transition:0.2s;
	transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1);
	cursor:pointer;
}
.boardTypeC > ul > li:hover {
	box-shadow:0px 0px 10px rgba(200, 200, 200, 1);
}
.boardTypeC > ul > li:last-child {
	margin-bottom:0px;
}

.boardTypeC > ul > li > div:nth-child(1) {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.boardTypeC > ul > li > div:nth-child(1) > div {
	float:left;
	font-size:14px;
	font-weight:normal;
}
.boardTypeC > ul > li > div:nth-child(1) > div:nth-child(1) {
	color:#008ace;
	margin-left:0px;
	font-weight:bold;
}
.boardTypeC > ul > li > div:nth-child(1) > div:nth-child(2) {
	color:#bbb;
	margin-left:30px;
}
.boardTypeC > ul > li > div:nth-child(1) > div:nth-child(3) {
	color:#aaa;
	margin-left:20px;
}

.boardTypeC > ul > li > div:nth-child(2) {
	font-size:26px;
	font-weight:bold;
	color:#444;
	margin-top:5px;
}

.boardTypeC > ul > li > div:nth-child(3) {
	width:80%;
	font-size:16px;
	font-weight:normal;
	color:#888;
	margin-top:5px;
}

.boardTypeC > ul > li > div:nth-child(4) {
	position:absolute;
	width:100px;
	top:65px;
	right:0px;
}
.boardTypeC > ul > li > div:nth-child(4) > div:nth-child(1) {
	text-align:center;
	color:#aaa;
	font-size:15px;
}
.boardTypeC > ul > li > div:nth-child(4) > div:nth-child(2) {
	text-align:center;
	color:#777;	
	font-size:27px;
}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 병원뉴스 관리 - 작성페이지 */



.writeStyleA {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}

.writeStyleA > ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.writeStyleA > ul > li {
	list-style-type:none;
	display:block;
	margin:0px 0px 20px 0px;
	padding:0px;
	position:relative;
}
.writeStyleA > ul > li > .input_title {
	display:block;
	margin:0px 0px 5px 0px;
	padding:0px;
	position:relative;
	color:#888;
	font-weight:bold;
	font-size:18px;
}
.writeStyleA > ul > li > .input_area {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	box-sizing:border-box;
	border:1px solid #aaa;
}
.writeStyleA > ul > li > .input_area > input {
	display:block;
	width:100%;
	height:50px;
	box-sizing:border-box;
	margin:0px;
	padding:0px 10px;
	border:0px;
	font-size:16px;
	font-weight:normal;
	color:#444444;
}
.writeStyleA > ul > li > .input_area > input.file {
	width:auto;
	height:auto;
	border:0px;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.writeStyleA > ul > li > .input_area > textarea.content {
	width:100%;
	max-width:100%;
	min-width:100%;
	height:400px;
	max-height:400px;
	min-height:400px;
	display:block;
	margin:0px;
	padding:10px;
	position:relative;
	border:0px;
	box-sizing:border-box;
	font-size:16px;
	font-weight:normal;
	color:#444444;
	font-family:'Nanum Gothic', sans-serif;
}


.writeStyleA > .upload_button {
	width:180px;
	height:50px;
	line-height:50px;
	text-align:center;
	background-color:#008ace;
	color:#fff;
	font-weight:normal;
	font-size:16px;
	display:block;
	margin:10px auto;
	padding:0px;
	position:relative;
	cursor:pointer;
}



/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 병원뉴스 상세페이지 */


.viewStyleD {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}

.viewStyleD > ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.viewStyleD > ul > li {
	display:block;
	margin:0px;
	padding:10px 0px;
	position:relative;
	list-style-type:none;
	border-bottom:1px solid #ccc;
}
.viewStyleD > ul > li > .title {
	font-size:25px;
	font-weight:normal;
	color:#444;
	display:block;
	margin:0px;
	padding:0px;
}
.viewStyleD > ul > li > .writer {
	float:left;
	font-size:14px;
	font-weight:normal;
	color:#999;
}
.viewStyleD > ul > li > .datetime {
	float:left;
	font-size:14px;
	font-weight:normal;
	color:#999;
	margin-left:40px;
}
.viewStyleD > ul > li > .view_index {
	float:left;
	font-size:14px;
	font-weight:normal;
	color:#999;
	margin-left:40px;
}
.viewStyleD > ul > li > ul.file_list {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.viewStyleD > ul > li > ul.file_list > li {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	list-style-type:none;
}
.viewStyleD > ul > li > ul.file_list > li.file_no {
	color:#bbb;
	font-size:14px;
	font-weight:normal;
}
.viewStyleD > ul > li > ul.file_list > li > a {
	text-decoration:none;
	font-size:14px;
	font-weight:normal;
	color:#008ace;
}
.viewStyleD > ul > li > ul.file_list > li > a:hover {
	text-decoration:underline;
}
.viewStyleD > ul > li > .content {
	font-size:14px;
	font-weight:normal;
	color:#444;
} 


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 병원뉴스 관리 - 수정페이지 */


ul.original_files {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
ul.original_files li {
	list-style-type:none;
	display:block;
	margin:0px;
	padding:4px 0px;
	position:relative;
}
ul.original_files li .filename {

	float:left;
	color:#aaa;
}
ul.original_files li .delete_button {
	cursor:pointer;
	color:#f8536a;
	float:left;
	margin-left:10px;
}
























/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 1:1문의 관리 */


.searchFilterTypeA .selectStyle {
	width:200px;
	height:26px;
	border:1px solid #bbb;
	box-sizing:border-box;
	display:block;
	margin-top:7px;
}








.listTypeD {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}
.listTypeD > ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.listTypeD > ul > li {
	height:150px;
	list-style-type:none;
	display:block;
	margin:0px 0px 14px 0px;
	padding:0px;
	position:relative;
	border:0px solid #ccc;
	border-radius:100px;
	box-shadow:0px 0px 3px rgba(170,170,170,1);
	transition:0.2s;
	transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1);
	cursor:pointer;
}
.listTypeD > ul > li:hover {
	box-shadow:0px 0px 10px rgba(140,140,140,1);	
}
.listTypeD > ul > li > .question_type {
	width:140px;
	float:left;
	font-size:16px;
	font-weight:normal;
	color:#008ace;
	display:block;
	margin-top:64px;
	margin-left:50px;
}
.listTypeD > ul > li > .group1 {
	float:left;
	display:block;
	margin:34px 0px 0px 0px;
	padding:0px;
	position:relative;
}
.listTypeD > ul > li > .group1 > .datetime {
	color:#bbb;
	font-size:14px;
	font-weight:normal;
}
.listTypeD > ul > li > .group1 > .member_info {
	color:#777;
	margin-top:10px;
	font-size:14px;
	font-weight:normal;
}
.listTypeD > ul > li > .group1 > .title {
	color:#444;
	font-size:18px;
	font-weight:bold;
	margin-top:10px;
}
.listTypeD > ul > li > .answer_whether {
	width:100px;
	text-align:center;
	font-size:25px;
	font-weight:normal;
	color:#f8536a;
	position:absolute;
	top:55px;
	right:50px;
}
.listTypeD > ul > li > .answer_whether.ok {
	color:#008ace;
}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 1:1문의 관리 - 상세페이지 (팝업) */


.viewStyleD.admin8100 > ul > li > .question_type {
	color:#008ace;
	font-size:14px;
}

.answer_view_box {
	margin:20px;
	padding:0px;
	position:relative;
}
.answer_view_box .box_title {
	font-size:18px;
	font-weight:bold;
	color:#333;
}
.answer_view_box .answer_title {
	color:#444;
	font-size:16px;
	font-weight:normal;
	margin-top:5px;
}
.answer_view_box .answer_datetime {
	color:#999;
	font-size:14px;
	font-weight:normal;
	
}
.answer_view_box .answer_content {
	color:#555;
	font-size:16px;
	font-weight:normal;
	margin-top:15px;
}



.answer_input_box {
	margin:20px;
	padding:0px;
	position:relative;
}
.answer_input_box .box_title {
	font-size:18px;
	font-weight:bold;
	color:#333;
}
.answer_input_box .box_content {
	display:block;
	margin:0px;
	margin-top:15px;
	padding:0px;
	position:relative;
}
.answer_input_box .box_content input[name=answerTitle] {
	width:100%;
	height:40px;
	border:1px solid #aaa;
	box-sizing:border-box;
	font-size:14px;
	font-weight:normal;
	color:#666;
	font-family:'Nanum Gothic', sans-serif;

	display:block;
	margin:0px;
	padding:0px 10px;
	position:relative;
}
.answer_input_box .box_content textarea[name=answerContent] {
	width:100%;
	max-width:100%;
	min-width:100%;
	height:140px;
	max-height:140px;
	min-height:140px;
	border:1px solid #aaa;
	box-sizing:border-box;
	font-size:14px;
	font-weight:normal;
	color:#666;
	font-family:'Nanum Gothic', sans-serif;

	display:block;
	margin:0px;
	padding:10px;
	position:relative;
}
.answer_input_box .answer_upload_button {
	width:140px;
	height:45px;
	line-height:45px;
	text-align:center;
	display:block;
	margin:12px auto;
	padding:0px;
	position:relative;
	background-color:#008ace;
	font-size:16px;
	font-weight:normal;
	color:#fff;
	cursor:pointer;
}
.answer_input_box .answer_upload_button:hover {
	background-color:#0071a9;
}





/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 진료과 관리 */



.department_list_area {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}
.department_list_area > ul {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
.department_list_area > ul > li {
	display:block;
	margin:0px 2% 10px 0px;
	padding:10px;
	position:relative;
	list-style-type:none;
	float:left;
	width:23.5%;
	border:1px solid #008ace;
	box-sizing:border-box;
	cursor:pointer;
	transition:0.2s;
	transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1);
}
.department_list_area > ul > li:hover {
	box-shadow:0px 0px 5px #008ace;
}
.department_list_area > ul > li:nth-child(4n) {
	margin-right:0px;
}

.department_list_area > ul > li > .department_code {
	font-size:14px;
	font-weight:normal;
	color:#999;
	text-align:center;
}
.department_list_area > ul > li > .department_title {
	font-size:16px;
	font-weight:bold;
	color:#008ace;
	text-align:center;
}


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 진료과 추가 페이지 */



.formStlyeE.admin9100 .title {
	width:120px;
}
.formStlyeE.admin9100 input[name=departmentImage] {
	border:0px;
	padding:0px;
}


.formStlyeE .overlap_check_button {
	width:100px;
	height:40px;
	margin-left:10px;
	line-height:40px;
	text-align:center;
	display:block;
	float:left;
	background-color:#444;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	cursor:pointer;
}

.formStlyeE .imageDisplayView {
	width:400px;
	height:auto;
	display:none;
	position:relative;
}

.formStlyeE .imageDisplayView img {
	width:100%;
	display:block;
	position:relative;
	margin-top:10px;
}

.formStlyeE .department_upload_button {
 	width:200px;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:18px;
	font-weight:normal;
	background-color:#008ace;
	cursor:pointer;
	display:block;
	margin:20px auto;
	padding:0px;
	position:relative;
}





/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 의료진 추가 페이지 */


.formStlyeE.admin9600 .title {
	width:140px;
}

.formStlyeE.admin9600 textarea[name=doctorContent] {
	height:280px;
	max-height:280px;
	min-height:280px;
}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 의료진 댓글 관리 페이지 (팝업) */


.doctor_info_area.admin9800 {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
	font-size:20px;
	font-weight:bold;
}

.comment_search_style_box {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;
}

.comment_search_style_box .inputselct_style {
	border:1px solid #ccc;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	box-sizing:border-box;
	font-size:16px;
	font-weight:normal;
	color:#555;
	padding:0px 6px;
}
.comment_search_style_box .search_button {
	display:block;
	height:40px;
	line-height:40px;
	text-align:center;
	margin:0px;
	padding:0px;
	position:relative;
	background-color:#333;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	cursor:pointer;
}
.comment_search_style_box .search_button:hover {
	background-color:#666;
}

.comment_list_area {
	display:block;
	margin:20px;
	padding:0px;
	position:relative;	
}
ul.comment_list {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
ul.comment_list li {
	display:block;
	margin:0px;
	padding:10px 0px;
	position:relative;
	list-style-type:none;
	border-bottom:1px solid #ccc;
}
ul.comment_list li.no_comment {
	font-size:14px;
	font-weight:normal;
	color:#aaa;
	text-align:center;
	border-bottom:0px;
}

ul.comment_list li .member_info {
	width:200px;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
ul.comment_list li .member_info .member_name {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	font-size:12px;
	font-weight:normal;
	color:#666;
}
ul.comment_list li .member_info .member_email {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	font-size:12px;
	font-weight:normal;
	color:#666;
}

ul.comment_list li .comment_set {
	width:450px;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}
ul.comment_list li .comment_set .datetime {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	font-size:12px;
	font-weight:normal;
	color:#aaa;
}
ul.comment_list li .comment_set .comment {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	font-size:12px;
	font-weight:bold;
	color:#222;
}

ul.comment_list li .comment_delete_button {
	display:block;
	margin:13px 15px 0px 0px;
	padding:0px;
	position:relative;
	font-size:12px;
	font-weight:bold;
	color:#f8536a;
	cursor:pointer;
}



























/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 미디어쿼리 */

/* 미디어쿼리 admin1000 - 로그인 페이지 */
@media all and (min-width:0px) and (max-width:610px) {
	.admin1000.login_box {
		width:90%;
		margin-right:5%;
		margin-left:5%;
	}

	.admin1000.login_box form ul li input {
		width:90%;
	}
}